.App {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container {
  width: 700px;
  background-color: #ddd;
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 0px 0px 6px #000;
  border-radius: 10px;
}

.header{
  text-align: center;
}
.title-text{
  margin: 0;
  padding-bottom: 15px;
}

.text-input{
  width: calc(100% - 111px);
    padding: 5px;
    font-size: 24px;
    margin: 0;
    outline: none;
    border: 1px solid red;
    border-right: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.text-input:focus{
    border-color: blue;
    outline: none;
}

.btn-submit{
  width: 100px;
    padding: 5px;
    font-size: 24px;
    margin: 0;
    outline: none;
    background-color:red;
    border: 1px solid red;
    border-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.todo-header{
  display: flex;
  justify-content: flex-end;
}

.todo-header ul{
  list-style: none;
  margin-bottom: 0;
}

.todo-header ul li{
  display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
}

/* todo-list */
.todo-list{
  border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
}

table{
  width:100%;
  border-spacing: unset;
}

th{
  border-bottom: 1px solid #000;
    border-collapse: collapse !important;
}

.done-todo{
  text-decoration: line-through;
}