.App {
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background-color: rgb(21, 20, 34);
}

.container {
  width: 700px;
  background-color: rgb(5, 5, 19);
  color: #ddd;
  border: 2px solid rgb(114, 109, 109);
  padding: 20px;
  box-shadow: 0px 0px 6px rgb(59, 55, 55);
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: hidden;
}

.header{
  text-align: center;
}
.title-text{
  margin: 0;
  padding-bottom: 15px;
}

.text-input{
  width: calc(100% - 111px);
    padding: 5px;
    font-size: 24px;
    margin: 0;
    color: #ddd;
    outline: none;
    border: 1px solid rgb(114, 109, 109);
    border-right: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: transparent;
}

.text-input:focus{
    border-color: red;
    outline: none;
}

.btn-submit{
  width: 100px;
    padding: 5px;
    font-size: 24px;
    margin: 0;
    color: #ddd;
    outline: none;
    background-color:rgb(129, 139, 100);
    border: 1px solid rgb(129, 139, 100);
    border-left: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.todo-header{
  display: flex;
  justify-content: flex-end;
}

.todo-header ul{
  list-style: none;
  margin-bottom: 0;
}

.todo-header ul li{
  display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.active{
  font-weight: bold;
  color: rgb(235, 224, 69);
}

/* todo-list */
.todo-list{
  border: 1px solid rgb(114, 109, 109);
  padding: 10px;
  border-radius: 10px;
  max-height: calc(80vh - 200px);
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

.todo-list::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.todo-list::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 0, 0);
	border: 1px solid #ddd;
  border-radius: 50px;
}


table{
  width:100%;
  border-spacing: unset;
}
th, td{
  padding: 5px 10px;
}
tr{
  transition: all .2s;
}

th{
  border-bottom: 1px solid rgb(114, 109, 109);
  border-collapse: collapse !important;
}
.todo{
  color:rgb(185, 171, 233);
}
.done-todo{
  text-decoration: line-through;
  color:rgb(100, 98, 98);
}

.btn-group{
  text-align: center;
}

.btn-edit, .btn-delete{
  margin: 5px 2px;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}
.btn-edit{
  background-color: rgb(34, 34, 87);
}
.btn-delete{
  background-color: rgb(255, 0, 0);
}
.btn-disabled{
  background-color: rgb(204, 197, 197);
}



.footer{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li{
  display: inline-block;
  padding: 0px 5px;
  margin: 0px 2px;
  font-size: 30px;
}
.footer ul li a{
  color:rgb(64, 63, 71);
  transition: all .3s;
}
.footer ul li a:hover{
  color:rgb(248, 91, 0)
}